<div class="registerBody">
    <button class="back" routerLink="/productManagement">Voltar</button>
    <form [formGroup]="formGroup" (ngSubmit)="submit()">
        <div class="container">
            <h1 class="title">Registrar</h1>
            <div class="name">
                <label class="name" for="name">Nome</label>
                <input class="name" type="text" required formControlName="name">
                <span class="validation" *ngIf="formGroup.get('name')?.invalid && formGroup.get('name')?.touched">
                    Campo obrigatório
                </span>
                <span *ngIf="invalidName() && formGroup.get('name')?.invalid && formGroup.get('name')?.touched">
                    Min. 5 caracteres
                </span>
            </div>
            <div class="price">
                <label class="elments" for="price">Preço</label>
                <input class="elments" type="text" required formControlName="price" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ','}" >
                <span class="validation" *ngIf="formGroup.get('price')?.invalid && formGroup.get('price')?.touched">
                    Campo obrigatório
                </span>
            </div>
            <div class="weight">
                <label class="elments" for="weight">Peso</label>
                <input class="elments" type="text" formControlName="weight">
            </div>
            <div class="description">
                <label class="description" for="description">Descrição</label>
                <input class="description" type="text" formControlName="description">
            </div>
            <div class="storage">
                <label class="storage" for="storage">Estoque</label>
                <input class="storage" type="text" formControlName="storage">
            </div>
            <button class="submit" [disabled]="!formGroup.valid || invalidName()">Registrar</button>
            <button class="delete" *ngIf="userPermition()" (click)="delete()">Deletar</button>
        </div>
    </form>
</div>