<div class="loginBody">
    <form [formGroup]="formGroup" (ngSubmit)="logIn()">
        <div class="container">
            <h1 class="title">Login</h1>
            <div class="email">
                <label class="elments" for="email">E-mail</label>
                <input class="elments" type="text" formControlName="email">
            </div>
            <div class="password">
                <label class="elments" for="password">Senha</label>
                <input class="elments" type="text" formControlName="password">
            </div>
            <button class="submit">Logar</button>
            <label for="placeholder">Não possui conta? </label><a href="/register">Registrar</a>
            <p> {{ userList }}</p>
        </div>
    </form>
</div>