.loginBody {
    display: flexbox;
    height: 100%;
    width: 100%;
    transform: translateY(100px);
}
form {
    height: 100%;
    width: 100%;
}
.container {
    margin: auto;
    width: 300px;
    height: 200px;
    background-color: grey;
}
.elements {
    display: flexbox;
    margin: auto;
    top: 200px
}


.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }
  
.ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
}