/* .loginBody {
    display: flexbox;
    text-align: center;
    height: 100%;
    width: 100%;
}
.back {
    display: flexbox;
    transform: translate(-275px, 200px);
}
form {
    height: 100%;
    width: 100%;
}
.container {
    display: flexbox;
    margin: auto;
    transform: translateY(50%);
    width: 600px;
    height: 400px;
    background-color: #747080;
    text-align: center;
}
.elements {
    align-items: center;
    margin: auto;
}
span {
    color: #7e0200;
}
.title {
    display: flexbox;
    color: white;
    padding: 15px;
}
label {
    display: flexbox;
    color: white;
}
input {
    width: 100%;
    height: 25px;
}
.rows {
    text-align: left;
    padding: 5px;
    width: 96.5%;
}
.submit {
    height: 35px;
    width: 100px;
    margin: 10px;
}
.delete {
    height: 35px;
    width: 100px;
    margin: 10px;
}
.buttons {
    padding: 10px;
}

button[invalid] {
    color: #e9e9e9;
}




.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948;
  }
  
.ng-invalid:not(form)  {
    border-left: 5px solid #a94442;
} */