<div class="generalBody">
  <header>
    <div class="header">
      <div class="headerText">
        <button class="btn">Deslogar</button>
        <label class="headerLabel">Nome do usuário</label>
      </div>
    </div>
  </header>
  <router-outlet></router-outlet>
  <footer>
    <div class="footer">
      <div class="footText">
        <h1 class="footName">Footer</h1>
        <p class="footSub">Lucas D. P. de Matos LTDA</p>
        <p class="footSub">Desde 2023, 28/12</p>
      </div>
    </div>
  </footer>
</div>