html {
    display: flexbox;
    height: 100%;
    width: 100%;
}

.generalBody {
    display: flexbox;
    height: 100%;
    width: 100%;
}

router-outlet {
    display: flexbox;
    text-align: center;
}

body {
    background-image: url("../assets/919c.jpg");
}