<!-- <div class="generalBody">
    <footer>
        <div class="footer">
        <div class="footText">
            <h1 class="footName">Footer</h1>
            <p class="footSub">Lucas D. P. de Matos LTDA</p>
            <p class="footSub">Desde 2023, 28/12</p>
        </div>
        </div>
    </footer>
</div> -->
<div class="bg-body-tertiary fixed-bottom">
<footer class=" bg-body-tertiary">
    <!-- Grid container -->
    <div class="container">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-1 mb-md-0 mt-2">
          <h1 class="text-uppercase">Web Project</h1>
          <p>
            Desde 2023, 28/12
          </p>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0 mt-2">
          <h5 class="text-uppercase">Footer text</h5>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
            molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae aliquam
            voluptatem veniam, est atque cumque eum delectus sint!
          </p>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-1" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2020 Copyright:
      <a class="text-body" href="https://mdbootstrap.com/">Lucas D. P. Matos LTDA</a>
    </div>
    <!-- Copyright -->
</footer>
</div>