<div class="vh-100">
    <div class="homeBody position-absolute top-50 start-50 translate-middle w-25 text-white">
        <h1 class="text text-bold fs-1 font-monospace text-uppercase text-center mb-5">Bem vindo, {{ loggedUserName }}</h1>
        <h2 class="text lh-1">Número de usuarios cadastrados: {{ numUsers }}</h2>
        <h2 class="text lh-1">Número de produtos cadastrados:  {{ numProducts }}</h2>
        <div class="buttons text-center mt-4">
            <button class="back btn btn-primary ms-4" routerLink="/userManagement" *ngIf="userPermition()">Ver usuários</button>
            <button class="back btn btn-primary ms-4" routerLink="/productManagement">Ver Produtos</button>
        </div>
    </div>
</div>