<div class="loginBody">
    <form >
        <div class="container">
            <h1 class="title">Registrar</h1>
            <div class="name">
                <label class="name" for="name">Nome</label>
                <input class="name" type="text">
            </div>
            <div class="email">
                <label class="elments" for="email">E-mail</label>
                <input class="elments" type="text">
            </div>
            <div class="password">
                <label class="elments" for="password">Senha</label>
                <input class="elments" type="text">
            </div>
            <div class="cpf">
                <label class="cpf" for="cpf">CPF</label>
                <input class="cpf" type="text">
            </div>
            <button class="submit">Registrar</button>
        </div>
    </form>
</div>