<div class="registerBody">
    <form [formGroup]="formGroup" (ngSubmit)="registerUser()">
        <div class="container">
            <h1 class="title">Registrar</h1>
            <div class="name">
                <label class="name" for="name">Nome</label>
                <input class="name" type="text" required formControlName="name">
                <span class="validation" *ngIf="formGroup.get('name')?.invalid && formGroup.get('name')?.touched">
                    Campo obrigatório
                </span>
            </div>
            <div class="email">
                <label class="elments" for="email">E-mail</label>
                <input class="elments" type="text" required formControlName="email">
                <span class="validation" *ngIf="formGroup.get('email')?.invalid && formGroup.get('email')?.touched">
                    Campo obrigatório
                </span>
                <span class="validation" *ngIf="verifyEmail()">
                    Email inválido
                </span>
            </div>
            <div class="password">
                <label class="elments" for="password">Senha</label>
                <input class="elments" type="text" required formControlName="password">
                <span class="validation" *ngIf="formGroup.get('password')?.invalid && formGroup.get('password')?.touched">
                    Campo obrigatório
                </span>
                <span class="validation" *ngIf="verifyPassword()">
                    Senha inválida: min. 8 caracteres e pelo menos um caractere especial.
                </span>
            </div>
            <div class="cpf">
                <label class="cpf" for="cpf">CPF</label>
                <input class="cpf" type="text" required formControlName="cpf">
                <span class="validation" *ngIf="formGroup.get('cpf')?.invalid && formGroup.get('cpf')?.touched">
                    Campo obrigatório
                </span>
            </div>
            <button class="submit">Registrar</button>
            <label for="placeholder">Já possui conta? </label><a href="/login">Logar</a>
        </div>
    </form>
</div>